<div id="questions">

</div>

<script id="question-list-template" type="text/x-handlebars-template">
{{#each this}}
 <div class="box">
   <div class="columns">
     <div class="column is-one-quarter">
         <span class="tag is-primary">Category: {{category}}</span>
       <span class="tag is-info">{{created_at}}</span>
       {{user.name}}
       asked:
     </div>
     <div class="column is-half">
       <div class="content">
         {{question_text}}
       </div>
     </div>

     <div class="column is-one-quarter">
       <a href="/questions/{{id}}" class="button is-success">View/Answer</a>
     </div>
   </div>
 </div>
 {{/each}}
</script>
