<div id="question">

</div>

<script id="question-template" type="text/x-handlebars-template">
<div class="box">
  <div class="columns">
    <div class="column is-one-third">
      <span class="tag is-info">{{created_at}}</span>
      <span class="tag is-dark">User: {{user.name}}</span>
      <span class="tag is-primary">Category: {{category}}</span>
    </div>
    <div class="column is-one-thirds">
      {{question_text}}
    </div>
  </div>
</div>
</script>

<br>
<%= form_for [@question, @answer] do |f| %>
  <p>
    <b>Have an answer to this question?  Drop it here!</b><br>
    <%= f.text_area :answer_text, {:class => "textarea is-primary"} %>
  </p>
  <p>
    <%= f.submit "Save Answer", {:class => "button is-success"} %>
  </p>
<% end %>

<ul>
  <% @answer.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

<span class="tag is-warning">Answers:</span>
<div id="answers">

</div>

<script id="answer-template" type="text/x-handlebars-template">
<div class="box">
  <div class="column is-one-third">
    <span class="tag is-light"> <a href="users/{{user.id}}/questions">User:{{user.name}}</a></span>
    <span class="tag is-info"> {{created_at}}</span>
  </div>
  <div class="column is-two-thirds">
  <p>{{answer_text}}</p>
  </div>
</div>
</script>
