    <div class="navbar-brand">
      <a class="navbar-item" href="/">StackUnderflow</a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span></div>
    </div>
