<div class="navbar-menu" id="navMenu">
  <div class="navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">Account</a>
      <div class="navbar-dropdown">
        <a class="navbar-item">Hello,
          <%= current_user.name%></a>
        <a href="/logout" class="navbar-item">Logout</a>
      </div>
    </div>
  </div>
</div>
