<div class="navbar-menu" id="navMenu">
  <div class="navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">Account</a>
      <div class="navbar-dropdown">
        <a href="/login" class="navbar-item">Login Local</a>
        <a href="/auth/google_oauth2" class="navbar-item">Login with Google</a>
        <a href="/users/new" class="navbar-item">Create Account</a>
      </div>
    </div>
  </div>
</div>
