<div class="navbar-menu" id="navMenu">
  <div class="navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">Questions</a>
      <div class="navbar-dropdown">
        <a href="/questions/new" class="navbar-item">Ask a Question</a>
      </div>
    </div>
  </div>
</div>
